data/title.akas.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/title.basics.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/title.crew.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/title.episode.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/title.principals.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/title.ratings.tsv.gz filter=lfs diff=lfs merge=lfs -text
data/name.basics.tsv.gz filter=lfs diff=lfs merge=lfs -text
